@import '../abstract/global.scss';


.title-text {
  font-size: 3.5rem;
  
  .project-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: $weight;
  background-image: $background;
  -webkit-background-clip: $clip;
  background-clip: $clip;
  color: $color;
  letter-spacing: $space;
  padding: 3rem
  }
}

#projects {
  min-height: 100vh;
  background: rgb(207, 205, 205);
  padding: 4rem 0 8rem 0;
}

.project-container {
  max-width: 80vw;
  margin: 0 auto;
  color: #e0e2db;
  @include respond(tab-land) {
    max-width: 84vw;
  }
  @include respond(phone) {
    max-width: 96vw;
  }
}

.project-item {
  overflow: hidden;
  position: relative;
  padding: 6rem;
  
}
.project-item-black {
  background: linear-gradient($black-med1, $black);
  color: white;
  @include respond(phone) {
    background: linear-gradient($black-med1, $black-med1);
  }
  a {
    padding: 2.1rem;
    font-size: 2rem;
    color: white;
    margin: 1rem;
    text-decoration: none;
    @include respond(tab-port) {
      font-size: 1.7rem;
    }
    @include respond(phone) {
      font-size: 1.6rem;
      padding: 1rem;
    }
  }
}

.project-item-white {
  color: black;
  background: linear-gradient($whiteShadow1, $whiteShadow1);
  @include respond(phone) {
    background: linear-gradient($whiteShadow2, $whiteShadow2);
  }
  a {
    font-size: 2.1rem;
    color: black;
    margin: 1rem;
    text-decoration: none;
    @include respond(tab-port) {
      font-size: 1.6rem;
    }
    @include respond(phone) {
      font-size: 1.6rem;
      padding: 1rem;
    }
  }
}

.frontText {
  text-align: center;
  transition: transform 2s;
  font-size: 3rem;
  letter-spacing: 0.2rem;
   &:hover {
    color: $orange1;
    cursor: pointer;
  }
}
.back-text {
  position: absolute;
  bottom: -25.4em;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  transition: bottom 2s;
  padding: .8rem 0.5rem;
  font-size: 1.8rem;
  @include respond(tab-port) {
    font-size: 1.75rem;
  }
  @include respond(phone) {
    font-size: 1.5rem;
  }
  &:hover {
    bottom: 0;
  }
  h1 {
    margin: .3rem;
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: $orange1;
    @include respond(big-desktop) {
      font-size: 3rem;
    }
    @include respond(tab-land) {
      font-size: 2.6rem;
    }
    @include respond(tab-port) {
      font-size: 2.3rem;
      margin: .1rem;
      margin-top: 1rem;

    }
    @include respond(phone) {
      margin-bottom: 0.1rem;
      font-size: 1.8rem;
      letter-spacing: .1rem;
    }
  }
}
.back-text button {
  margin: 1.5rem 2rem 1.5rem 0rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid $orange1;
  transition: all .4s ease-in;
  &:hover {
    background: $orange1;
  }
  @include respond(big-desktop) {
    margin: 2.2rem 2rem 2.7rem 0rem;
  }
  @include respond(tab-land) {
    padding: 0.8rem;
  }
  @include respond(tab-port) {
    padding: 0.7rem;
    margin: 1rem 2rem 1.5rem 0rem;
  }
  @include respond(phone) {
    padding: 0.5rem;
    margin: 1rem 0.5rem 0.1rem 0.2rem;
    &:hover {
      background: $orange1;
    }
  }
}
.project-item-white button {
  background-color: $orange1;
  &:hover {
    background-color: $orange3;
  }
}
.project-item:hover .frontText {
  transform: translateY(-23rem);
  @include respond(tab-port) {
    &__open {
      transform: translateY(-23rem);
    }
  }
}
.project-item:hover .back-text {
  bottom: 0;
}
