@import "../abstract/global.scss";
.picture__wrap {
 display: flex;
 justify-content: center;
 align-items: center;
}
.reflection {
    width: 100%;
    height: 75rem;
    position: relative;
    opacity: .9;
    background: url("../assets/eveportfolio.png") bottom/cover;
    box-shadow: 0px 5rem 7rem rgba(0,0,0,0.3),
    0px 1rem 1rem rgba(0,0,0,0.1);
   @include respond(big-desktop) {
       height: 85rem;
   }
   @include respond(tab-port) {
 height: 60rem;
 width: 100%;
   }
   @include respond(phone) {
    height: 35rem;
    width: 100%;
   }

    &::after {
        content: "";
        background: inherit;
        width: inherit;
        height: 43%;
        position: absolute;
        bottom: -41%;
        transform: scaleY(-1); 
        opacity: .5;
        @include respond(phone) {
            
        }
    }
    &::before {
            content: " ";
            width: inherit;
            height: 42%;
            position: absolute;
            bottom: -42%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), white);
            z-index: 1;
        }
}

.my__article-wrapper {
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    font-weight: 300;
    padding: 32rem 18rem 3rem 18rem; 
    @include respond (tab-port) {
    padding: 28rem 4rem 3rem 4rem; 
    }
    @include respond (phone) {
    padding: 23rem 5rem 3rem 5rem; 
    }
  h1 {
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 1rem;
      color: $orange1;
  }
}