@import "../abstract/global.scss";
.faback {
   display: flex;
   margin-left: 3rem;
   margin-top: 1.5rem;
   color: $orange1;
   font-size: 3.5rem;
}
.resume {
   background: url("../assets/Resume.png");
   background-repeat: no-repeat;
   background-size: cover;
   filter: grayscale(1);
   padding: 95rem 0;
   margin: 2rem;
   background-position: center;
   height: 100vh;
   @include respond(big-desktop) {
      background-size: cover;
      padding: 110rem 0;
      margin: 1rem;
   }
   @include respond(tab-land) {
      background-size: cover;
      padding: 100rem 0;
      margin: 0.5rem;
   }
   @include respond(tab-port-big) {
      background-size: cover;
      padding: 80rem 0;
      margin: 0.5rem;
   }
     @include respond(tab-port) {
      background-size: cover;
      padding: 75rem 0rem;
      margin: 0.5rem;
   }
   @include respond(phone) {
      background-size: contain;
      padding: 1rem;
      height: 68vh;
   }
   
 
  
   
}
