@import "../abstract/global.scss";

.hero {
  height: 15vh;
  border-bottom: 0.5rem solid $orange1;
  margin-top: 1rem;
  .bg-video1 {
    // display: none;
    filter: grayscale(1);
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: -1;
    background-blend-mode: screen;
    &__content {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include respond(phone) {
        display: none;
      }
    }
  }
  .greeting {
    @include text-color(8.3rem);
    top: 10%;
    left: 50%;
    transition: all 0.2s;

    @include respond(phone) {
      font-size: 6.5rem;
    }
  }
}

.center {
  .about-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 5rem auto;
  }
  .comp {
    width: 60%;
    float: left;
    margin: 1.5rem;
    box-shadow: 0 2px 1rem rbga(0, 0, 0, 0.8);
    padding: 1.5rem;
    background: white;
    border-radius: 1rem;
    @include clearfix;

    .img1 {
      width: 25rem;
      height: 25rem;
      border-radius: 50%;
      float: left;
      margin: 4rem 2rem 3rem 0;
      border: 5px solid white;
      shape-outside: circle();
      // @include clearfix;
      @include respond(phone) {
        width: 10rem;
        height: 10rem;
      }
      @include respond(tab-port) {
        width: 20rem;
        height: 20rem;
      }
    }
    .about-text {
  color: red;
}
    .img2 {
      width: 20rem;
      height: 20rem;

      border-radius: 50%;
      float: right;
      margin: 0.1rem 0 0rem 3rem;
      border: 5px solid white;
      shape-outside: circle();
      // @include clearfix;
      @include respond(phone) {
        width: 12rem;
        height: 12rem;
      }
      @include respond(tab-port) {
        width: 15rem;
        height: 15rem;
      }
    }
    .intro {
      font-size: 2.5rem;
    }
    .about-text {
      text-align: justify;
      line-height: 1.6rem;
    }
  }
}
// padding: 5rem;
// background-color: $orange1;

//   padding: 2rem 4rem;
//   font-size: 1.6rem;
//  background-color: rgb(190, 186, 186);
//   @include respond(phone) {
//     max-width: 86vw;
//   }

// img {
//   height: 40rem;
//   max-width: 40em;
//   border-radius: 50%;
//   margin: 2rem;
//   // filter: grayscale(1);
// }
// .composition {
//   background-color: red;
//   position: relative;
//   // width: 100%;
//   padding: 5rem;
//   &__photo {
//     // width: 55%;
//     position: relative;
//     overflow: hidden;
//     width: 100%;
//     box-shadow: 0 1.5rem 4rem rgba($black, 0.1);
//     // border-radius: 2px;
//     // position: absolute;
//     // z-index: 10;
//     // cursor: pointer;
//     // transition: all 0.2s;
//     // outline-offset: 2rem;

//     // @include respond(tab-port) {
//     //   display: flex;
//     //   justify-content: space-evenly;
//     //   flex-direction: column;
//     //   align-items: center;
//     // }

//     &--p1 {
//       height: 35rem;
//       max-width: 34em;
//       float: left;
//       border-radius: 50%;
//       margin: 2rem;
//     }
//     &--p2 {
//     }

//     &--p3 {
//       height: 25rem;
//       max-width: 25em;
//       float: right;
//       top: 0;
//       border-radius: 50%;
//       margin: 2rem;

//       &:hover {
//         // outline: 1.5rem solid $orange1;
//         // transform: scaleX(1.05) translateY(-0.5rem);
//         // box-shadow: 0 2.5rem 4rem rgba($orange1, 0.5);
//         // z-index: 20;
//       }

//       &:hover &__photo:not(:hover) {
//         // transform: scaleX(0.95);
//       }
//     }
//     .into {
//       color: white;
//     }
//   }

.faback1 {
  display: inline;
  color: $orange1;
  margin: 0.5rem 0 0.1rem 0.5rem;
  font-size: 1.7rem;
}
