@import '../abstract/global.scss';
nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 1rem;
  background-color: #d4d4d4;
  @include respond(phone) {
    justify-content: center;
    padding-right: 0;
  }
  li {
    display: inline-block;
    color: $black-med;
  }
  .fa {
    color: black;
    font-size: 2.2rem;
    margin-left: 0.6rem;
    @include respond(phone) {
      display: none;
    }
    &:hover {
      color: $orange1;
    }
  }
  .links {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    padding: 1.5rem 0.5rem 0rem 0.5rem;
    background-image: linear-gradient(to right, black, $black-med);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all 0.2s;
    @include respond(phone) {
      font-size: 1.6rem;
    }
    &:hover {
      text-shadow: -1px -1px 4px $whiteShadow, 1px -1px 4px $whiteShadow,
        -1px 1px 0 $whiteShadow, 1px 1px 0 $whiteShadow, 0 -2px 5px, 0 0 2px,
        0 0 4px #ff7e00, 0 0 6px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
  }
}
