@import "../abstract/global.scss";
nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color: black;
  @include respond(phone) {
    justify-content: center;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  li {
    display: inline-block;
    padding-top: .1rem;
  }
  .fa {
    font-size: 2rem;
  //  margin: 1rem;
    color: $orange1;

    @include respond(phone) {
      margin-left: 0.4rem;
      display: none;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .links {
    // @include text-color(1.6rem, 3rem);
    // position: relative;
    font-size: 1.6rem;
    color: $orange1;
    padding: 1rem;
    text-decoration: none;
    display: block;
    @include respond(phone) {
      font-size: 2.8rem;
      padding: 2rem .6rem 0 .6rem;
    }
    &:hover {
      text-shadow: -1px -1px 5px $whiteShadow, 1px -1px 5px $whiteShadow, -1px 1px 0 $whiteShadow,
        1px 1px 0 $whiteShadow, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 10px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
  }
}
