@import "../abstract/global.scss";
.slide__Title {
    text-align: center;
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: $weight;
  background-image: $background;
  -webkit-background-clip: $clip;
  background-clip: $clip;
  color: $color;
  letter-spacing: $space;
  padding-top: 9rem;
}
.slide__container {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $orange1;
    font-size: 1.6rem;

    .slider__wrap {
        height: 12rem;
        width: 62vw;
        display: flex;
        position: relative;
        background-color: D4D4D4;
        overflow: hidden;
        // box-shadow: 0 8px 15px -10px $whiteShadow2;
        &::before,
        &::after {
            height: 10rem;
            width: 20rem;
            position: absolute;
            content: "";
            background: linear-gradient(to right white 0% rgba(255, 255, 255, 0) 100%);
            z-index: 2;
        }
        &::before {
            left: 0;
            top: 0;
        }
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
    }
    .icons {
        color: $orange1;
        font-size: 6rem;
        height: 5.5rem;
        width: 5.5rem;
        // @include respond(phone) {
        //    font-size: 4rem;
        // height: 3.5rem;
        // width: 3.5rem; 
        // }
    }
   
    .icon-title {
        padding: 0 4.5rem 0 1rem;
    }
    .img__wrap {
        height: 10rem;
        display: flex;
        align-items: center;
        animation: iconSlide 45s linear infinite;
    }
}
